.expenses {
    padding: 1rem;
    background-color: rgb(28, 27, 27);
    margin: 2rem auto;
    width: 35rem;
    max-width: 95%;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgb(149, 144, 144);
}