.main {
  background-color: grey;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(4, 4, 14);
  margin: 1rem 0;
  width: 550px;
  border-radius: 10px;
  max-width: 95%;
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(71, 69, 69);
  color: white;
  border: 1px solid white;
  width: 60px;
  border-radius: 10px;
  margin: 0.6rem;

}

.amount {
  background-color: rgb(56, 7, 102);
  color: white;
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 10px;
  font-weight: bold;
  margin: 1rem;
  box-shadow: 0px 2px 6px pink;
}

.expense-title {
  color: white;
  border: 2px solid blue;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;

}
.btn-1 {
  background-color: green;
  color:white;
  padding: 0.5rem;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}
.btn-1:hover{
  background-color: black;
}

.btn-2 {
  background-color: rgb(239, 51, 51);
  padding: 7px 7px;
  border-radius: 5px;
  color: white;
  border-style: none;
  margin: 0.5rem;
  box-shadow: 0px 1px 5px black;
  cursor: pointer;
}

.btn:hover {
  background-color: black;
  box-shadow: 0px 1px 5px black;
}