.expenses-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:14rem;
  color: white;
}
.expenses-filter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}