.expense-item{
    background-color: rgb(115, 159, 199);
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    align-items: center;
    border-radius: 13px;
    box-shadow: 0 2px 8px black;
    margin: 2rem 0;
    border:1px solid black
    
}
.expense-date {
    font-size: large;
    font-weight: bold;
    position:relative;
}

.expense-title {
    font-size: 30px;
    font-weight: bold;
    color: rgb(252, 250, 250);
    position:relative;
}
.expense-amount {
    background-color: blueviolet;
    padding:1rem;
    border-radius: 8px;
    border: 2px solid white;
    color: white;
    position:relative;
}
.expense-location {
    font-size: large;
    font-weight: bold;
    position:relative;
}